body { 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #fafafa;
}

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  border-bottom: 1px solid #ccc;
}

.zoo-list {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 0.5rem;
  width: 48%;
  height: 150px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #fafafa;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

li:hover{
  box-shadow: 0 10px 10px -3px rgb(0 0 0 / 20%), 0 4px 4px -4px rgb(0 0 0 / 20%);
  background-color: #ededed;
}

.selected {
  background-color: #fafafa;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #71e4fb;
}
.selected:hover {
  background-color: #ededed;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 15px #71e4fb;
}

h3{
  margin: 0;
}

.zoo{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #ccc;
  border-radius: 1rem;
}

.hidden{
  display: none;
}

@media screen and (min-width: 1200px) {
  .zoo {
    width: 900px;
    padding: 2rem;
  }
  li {
    width: 125px;
    height: 125px;
    margin-bottom: 0rem;
    gap: 0.25rem;
  }
}